/*
//Eric Wilson and Michael Warnock
//CS490WD Web Development Project 1
//2016-10-17
*/
@font-face {
    font-family: oleo;
    src: url(fonts/Oleo.woff);
}
#movie_display{
  position:absolute;
  top:170px;
}
#movieicon{
    position: absolute;
}
#searchbox{
    position:absolute;
    top:22px;
    left: 360px;

}
#pagetitle {
    position: absolute; 
    left: 75px;
    top: 0px;
    font-family: oleo;
}
#submenu {
    width:100%;
    background-color:white;
    border:1px solid lightgray;
    padding:10px;
    position:absolute;
    top:95px;
}
#search_box{
    width:400px;
    padding:10px;
}
#suggestions_box{
    position:absolute;
    top:35px;
    z-index: 10;
    border: solid lightgray 1px;
    background-color:white;
    width:500px;
    max-height: 140px; 
    overflow:auto;
    display:none;
}
div.sub_suggestions{
    width:470px;
    padding:5px;
}
div.sub_suggestions:hover{
    background-color: rgb(245,245,245);
    cursor: pointer;
}
#go{
    position:relative;
    float:right;
    padding:10px;
    height:100%;
    background-color:blue;
    color:white;
}
#layoutbuttons {
    position:relative;
    float:right;
    right:30px;
}

#searchdiv {
    background: lightgray;
   height:95px;
    width: 100%;
}
#headerdiv{
    position:fixed;
    left:-10px;
    top:-10px;
    width:100%;
    margin:10px;
}

.grid_item {
    
}

.list-photo {
    padding:5px;
    border: solid 1px lightgray;
}
.list-photo{
    
    height:200px;
    width:200px;
}
.list-details{
    position:relative;
    left:230px;
    top:-220px;
}
.list-year{
    color:lightgray;
}

.list-starring-div {
    margin-top:13px;
    margin-bottom:13px;
}

.list-description{
    background:lightblue;
    border: lightgray 1px solid;
    width:430px;
    margin-top:15px;
    padding:10px;
}

.list-item{
    height:230px;
    border-bottom:lightgray 1px solid;
    margin-bottom: 20px;
}
.rating{

}

.grid_photo{
    height:200px;
    width:200px;
    padding:10px;
    border: 1px solid lightgray;
    margin:10px;
}
.grid_moviebox{
    float:left;
    margin-top:-40px;
}

.grid-static-info {
    color:white;
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
    position:relative;
    top:220px;
    width:200px;
    background-color:rgba(0,0,0,0.3);
    left:21px;
    margin-bottom:0px;
    
    transition: 1s; /*Standard, IE 10*/
    -webkit-transition: 1s; /* For Chrome, Safari*/
    -moz-transition: 1s; /* For Firefox*/
    -o-transition:1s; /* For Opera*/
}
div.grid_moviebox {
    position:relative;
    overflow:hidden;
}
div.grid_moviebox:hover div.grid-static-info {
    top:182px;
    position:relative;
}

div.grid_moviebox:hover div.grid-starring {
    display:block;
    top:228px;
}

.grid-starring {
    position:absolute;
    color:white;
    text-align:left;
    background-color:rgba(0,0,0,0.3);
    color:white;
    top:290px;
    height:40px;
    width:190px;
    left:21px;
    padding-left:5px;
    padding-right:5px;
    display:none;
    transition: 2s; /*Standard, IE 10*/
    -webkit-transition: 2s; /* For Chrome, Safari*/
    -moz-transition: 2s; /* For Firefox*/
    -o-transition:2s; /* For Opera*/
}