/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 8, 2016, 1:07:39 PM
    Author     : eric
*/
@font-face {
    font-family: oleo;
    src: url(fonts/Oleo.woff);
}
#movie_display{
  position:absolute;
  top:200px;
}
#movieicon{
    position: absolute;
}
#searchbox{
    position:absolute;
    top:22px;
    left: 360px;
}
#pagetitle {
    position: absolute; 
    left: 75px;
    top: 0px;
    font-family: oleo;
}
#submenu {
    width:100%;
    background-color:white;
    border:1px solid lightgray;
    padding:10px;
    position:absolute;
    top:95px;
}
#search{
    width:400px;
    padding:10px;
}
#go{
    position:relative;
    float:right;
    padding:10px;
    height:100%;
    background-color:blue;
    color:white;
}
#layoutbuttons {
    position:relative;
    float:right;
    right:30px;
}

#searchdiv {
    background: lightgray;
   height:95px;
    width: 100%;
}
#headerdiv{
    position:fixed;
    left:-10px;
    top:-10px;
    width:100%;
    margin:10px;
}

.grid_item {
    
}

.list-photo {
    padding:5px;
    border: solid 1px lightgray;
}
.list-photo{
    
    height:200px;
    width:200px;
}
.list-details{
    position:relative;
    left:230px;
    top:-220px;
}